{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Profile</h2>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form|crispy }}
                            {{ profile_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Profile Picture</h4>
                </div>
                <div class="card-body text-center">
                    {% if user.userprofile.profile_picture %}
                        <img src="{{ user.userprofile.profile_picture.url }}" class="rounded-circle" width="150">
                    {% else %}
                        <img src="/static/default_profile.png" class="rounded-circle" width="150">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}